[submodule "dependencies/MqttDaemon"]
	path = dependencies/MqttDaemon
	url = https://github.com/leschNUX/MqttDaemon
[submodule "dependencies/FragFramework"]
	path = dependencies/FragFramework
	url = https://github.com/leschNUX/FragFramework
[submodule "dependencies/ServiceSkeleton"]
	path = dependencies/ServiceSkeleton
	url = https://github.com/leschNUX/ServiceSkeleton
[submodule "dependencies/SimpleFolder"]
	path = dependencies/SimpleFolder
	url = https://github.com/leschNUX/SimpleFolder
[submodule "dependencies/SimpleIni"]
	path = dependencies/SimpleIni
	url = https://github.com/leschNUX/SimpleIni
[submodule "dependencies/SimpleLog"]
	path = dependencies/SimpleLog
	url = https://github.com/leschNUX/SimpleLog
[submodule "dependencies/owfscpp"]
	path = dependencies/owfscpp
	url = https://github.com/leschNUX/owfscpp
[submodule "dependencies/SimpleSock"]
	path = dependencies/SimpleSock
	url = https://github.com/leschNUX/SimpleSock
